/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

   .page {
       display: block;
    }
    
    main, footer {
        padding: 1em;
    }
    
    .logo {
        margin-bottom: 60%;
    }
    
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {
    
    main {
        padding: 2em;
        display: flex;
        justify-content: space-between;
    }
    
    footer {
        padding: 2em;
    }
    
    main article,
    main aside {
        width: 40%;
    }
    .logo {
        width: 70%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 30%;
    }
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) {
    .logo {
        width: 60%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    
}