// Typography Stylesheet
p {
    font-family: $font-stack;
    color: $tert-color;
    font-size: 20px;
}

article {
    color: $tert-color;
}

.char13, {
    font-size: 40px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    font-size: 25px;
    
    a:link {
        text-decoration: none;
        color: $tert-color;
    }
    a:visited {
        text-decoration: none;
        color: $tert-color;
    }
    a:hover {
        text-decoration: none;
        color: $secondary-color;
    }
        
}